#transition-1{
    position: absolute;
    z-index: 0 !important;
    width: 23vw !important;
    height: 10vw;
    opacity: 0; 
    transition: all 0.2s ease-in-out;
    transform: rotate(-6deg);
    left: 130px;
    top: -60px;
    cursor: pointer;
    aspect-ratio: 16/9;
}
.dd:hover #transition-1{
    left: 140px;
    opacity: 1 !important;
}
.dd:hover #transition-1:hover{
    transform: skewX(7deg);
    transform: skewY(-5deg);
    mix-blend-mode: normal;
}
#transition-1 canvas{
    width: 450px !important;
    height: 210px !important;
}
#explore-text-1{
    position: absolute !important;
}
#explore-text-1 canvas{
    position: absolute !important;
    left: 120px !important;
    top: 80px;
    transform: rotate(-6deg);
    height: 40px !important;
    width: 200px !important;
}

#transition-2{
    position: absolute;
    z-index: 0 !important;
    width: 23vw !important;
    height: 10vw;
    opacity: 0; 
    transition: all 0.2s ease-in-out;
    transform: rotate(-6deg);
    left: 130px;
    top: -60px;
    cursor: pointer;
    aspect-ratio: 16/9;
}
.dd:hover #transition-2{
    left: 140px;
    opacity: 1 !important;
}
.dd:hover #transition-2:hover{
    transform: skewX(7deg);
    transform: skewY(-5deg);
    mix-blend-mode: normal;
}
#transition-2 canvas{
    width: 450px !important;
    height: 210px !important;
}
#explore-text-2{
    position: absolute !important;
}
#explore-text-2 canvas{
    position: absolute !important;
    left: 120px !important;
    top: 80px;
    transform: rotate(-6deg);
    height: 40px !important;
    width: 200px !important;
}

#transition-3{
    position: absolute;
    z-index: 0 !important;
    width: 23vw !important;
    height: 10vw;
    opacity: 0; 
    transition: all 0.2s ease-in-out;
    transform: rotate(-6deg);
    left: 130px;
    top: -60px;
    cursor: pointer;
    aspect-ratio: 16/9;
}
.dd:hover #transition-3{
    left: 140px;
    opacity: 1 !important;
}
.dd:hover #transition-3:hover{
    transform: skewX(7deg);
    transform: skewY(-5deg);
    mix-blend-mode: normal;
}
#transition-3 canvas{
    width: 450px !important;
    height: 210px !important;
}
#explore-text-3{
    position: absolute !important;
}
#explore-text-3 canvas{
    position: absolute !important;
    left: 120px !important;
    top: 80px;
    transform: rotate(-6deg);
    height: 40px !important;
    width: 200px !important;
}

#transition-4{
    position: absolute;
    z-index: 0 !important;
    width: 23vw !important;
    height: 10vw;
    opacity: 0; 
    transition: all 0.2s ease-in-out;
    transform: rotate(-6deg);
    left: 130px;
    top: -60px;
    cursor: pointer;
    aspect-ratio: 16/9;
}
.dd:hover #transition-4{
    left: 140px;
    opacity: 1 !important;
}
.dd:hover #transition-4:hover{
    transform: skewX(7deg);
    transform: skewY(-5deg);
    mix-blend-mode: normal;
}
#transition-4 canvas{
    width: 450px !important;
    height: 210px !important;
}
#explore-text-4{
    position: absolute !important;
}
#explore-text-4 canvas{
    position: absolute !important;
    left: 120px !important;
    top: 80px;
    transform: rotate(-6deg);
    height: 40px !important;
    width: 200px !important;
}

#transition-5{
    position: absolute;
    z-index: 0 !important;
    width: 23vw !important;
    height: 10vw;
    opacity: 0; 
    transition: all 0.2s ease-in-out;
    transform: rotate(-6deg);
    left: 130px;
    top: -60px;
    cursor: pointer;
    aspect-ratio: 16/9;
}
.dd:hover #transition-5{
    left: 140px;
    opacity: 1 !important;
}
.dd:hover #transition-5:hover{
    transform: skewX(7deg);
    transform: skewY(-5deg);
    mix-blend-mode: normal;
}
#transition-5 canvas{
    width: 450px !important;
    height: 210px !important;
}
#explore-text-5{
    position: absolute !important;
}
#explore-text-5 canvas{
    position: absolute !important;
    left: 120px !important;
    top: 80px;
    transform: rotate(-6deg);
    height: 40px !important;
    width: 200px !important;
}

#transition-6{
    position: absolute;
    z-index: 0 !important;
    width: 23vw !important;
    height: 10vw;
    opacity: 0; 
    transition: all 0.2s ease-in-out;
    transform: rotate(-6deg);
    left: 130px;
    top: -60px;
    cursor: pointer;
    aspect-ratio: 16/9;
}
.dd:hover #transition-6{
    left: 140px;
    opacity: 1 !important;
}
.dd:hover #transition-6:hover{
    transform: skewX(7deg);
    transform: skewY(-5deg);
    mix-blend-mode: normal;
}
#transition-6 canvas{
    width: 450px !important;
    height: 210px !important;
}
#explore-text-6{
    position: absolute !important;
}
#explore-text-6 canvas{
    position: absolute !important;
    left: 120px !important;
    top: 80px;
    transform: rotate(-6deg);
    height: 40px !important;
    width: 200px !important;
}